.card {  
    position: relative;  
    width: 343px;
    height: 188px;
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 15px;
    margin: 20px auto;
}

.editIcon {
    position: absolute;   
    right: 0;
}

.cardContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 41px 26px;    
}